# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Secrets
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
app/core/__pycache__/security.cpython-314.pyc
app/__pycache__/main.cpython-314.pyc
/app/database/__pycache__
