.env
utilities
venv
app/core/__pycache__/config.cpython-314.pyc
app/exceptions/__pycache__/custom_exceptions.cpython-314.pyc
app/routes/__pycache__/auth_routes.cpython-314.pyc
/app/schemas/__pycache__
/app/services/__pycache__
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
app/core/__pycache__/security.cpython-314.pyc
app/__pycache__/main.cpython-314.pyc
/app/database/__pycache__
.pyc
.__pycache__
